/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.row + .row {
  margin-top: 16px;
}

/*.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}*/

nav {
  color: white;
  text-align: end;
  display: flex;
  justify-content: space-around;
  margin-bottom: 138px;
  font-size: 30px;
  font-family: "bebas-neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.38) 0%,
      rgba(0, 0, 0, 0.38) 100%
    ),
    url(../images/restaurant-.photo.jpg), lightgray 50% / cover no-repeat;
  color: white;
  text-align: center;
  padding-top: 42px;
  padding-bottom: 118px;
}

.buttons {
  display: inline-block;
  position: relative;
  font-family: "DM Serif Display", serif;
  font-family: "Heebo", sans-serif;
  font-family: "Yeseva One", serif;
}

.button-content {
  border: 1px solid var(--white, #fff);
  background: var(--black-blue, #000956);
  color: white;
  text-align: center;
  z-index: 1;
  position: relative;
}

.button-border {
  position: absolute;
  border: 1px solid white;
  width: 100%;
  height: 100%;
}

header .button-content {
  padding: 8px 22px;
  font-size: 36px;
}

header .button-border {
  top: 4px;
  left: -4px;
}

header img {
  width: 810px;
  height: 129px;
  flex-shrink: 0;
  margin-bottom: 142px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h2 {
  text-align: center;
  font-family: "bebas-neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: "bebas-neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.menu {
  background-color: #4471b4;
  text-align: center;
}

.menu .buttons {
  margin-top: 21px;
}

.menu .button-content {
  padding: 10px 16px;
}

.menu .button-border {
  top: 3px;
  left: -3px;
}

.menu img {
  width: 372px;
  height: 494px;
  flex-shrink: 0;
}

.carte {
  font-family: "bebas-neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.activités {
  background: white;
}

.card {
  background: #4471b4;
  border-radius: 10px;
  padding-bottom: 15px;
  color: white;
}

.card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card h3 {
  margin-top: 33px;
  color: #9bc0f6;
}

.card p {
  font-size: 23px;
  margin-top: 37px;
  margin-bottom: 39px;
}

.card-text {
  padding-left: 17px;
  padding-right: 17px;
}

.plus-info {
  font-family: "DM Serif Display", serif;
  font-family: "Heebo", sans-serif;
  font-family: "Yeseva One", serif;
  font-weight: 250;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 0.12px;
  text-transform: uppercase;
}

.traditions {
  background: #4471b4;
}

@media (min-width: 992px) {
  .tradition-title {
    display: none;
  }
}

@media (max-width: 991px) {
  .titre-tradition {
    display: none;
  }
}

.titre-tradition {
  margin-top: 115px;
  font-size: 50px;
  margin-right: 235px;
}

.tradition-text p {
  margin-bottom: 48px;
  margin-right: 154px;
}

.tradition-text .button {
  font-size: 27px;
}

.tradition-text .button-content {
  padding: 11px 42px;
}

.tradition-text .button-border {
  top: 4px;
  right: 4px;
}

.photo-tradition img {
  border-radius: 51px;
  width: 490px;
  height: 689px;
  flex-shrink: 0;
  margin-top: 104px;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.logo-footer {
  width: 426px;
  height: 68px;
  flex-shrink: 0;
}

.media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.twitter {
  width: 43px;
  height: 35px;
  flex-shrink: 0;
}

footer {
  background: #585858;
}
